.DS_Store

*.txt
!hello_world.txt
*.npy
*.csv
*.dat

# Large dataset files
cornac/datasets/gowalla/check-ins.zip
cornac/datasets/tradesy/item_features.zip
cornac/datasets/yoochoose/click.zip
cornac/datasets/movielens/ml-20m.zip
cornac/datasets/movielens/ml-100k/
cornac/datasets/movielens/ml-1m.zip
cornac/datasets/movielens/ml-10m.zip
